<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <a href="/index">Homepage</a>
    <h1><%= title %></h1>
    <ul>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
      <li>add more...</li>
    </ul>
  </body>
</html>
